In [1]:
import geopandas as gpd
import pandas as pd
import rasterio
import unrasterize

### CHIRPS

In [2]:
raster_path = 'chirps-sample.tiff'
raster_data = rasterio.open(raster_path)
unrasterizer = unrasterize.WindowedUnrasterizer(mask_width=5, threshold=0)

In [3]:
unrasterizer.select_representative_pixels(raster_data)
gdf = unrasterizer.to_geopandas(value_attribute_name='rainfall', crs=raster_data.crs)
gdf['latitude'] = gdf.geometry.apply(lambda x: x.bounds[1])
gdf['longitude'] = gdf.geometry.apply(lambda x: x.bounds[0])
gdf.head(5)

                   geometry     rainfall  latitude  longitude
0  POINT (39.01941 5.88235)  9699.878906  5.882349  39.019412
1  POINT (40.01850 6.12789)  9063.426758  6.127887  40.018495
2  POINT (39.91859 5.48949)  8637.401367  5.489489  39.918587
3  POINT (39.66882 5.93146)  7943.245117  5.931457  39.668816
4  POINT (38.96946 6.17699)  8012.909180  6.176994  38.969458

/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:328: RuntimeWarning: invalid value encountered in greater
  self.mask = band > self.threshold
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:373: RuntimeWarning: invalid value encountered in greater
  window[window > 0.0],
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:328: RuntimeWarning: invalid value encountered in greater
  self.mask = band > self.threshold
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:154: RuntimeWarning: invalid value encountered in greater
  total = np.sum(band[band > 0.0], dtype=np.float32)
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:373: RuntimeWarning: invalid value encountered in greater
  window[window > 0.0],
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:328: RuntimeWarning: invalid value encountered in greater
  self.mask = band > self.threshold
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:154: RuntimeWarning: invalid value encountered in greater
  total = np.sum(band[band > 0.0], dtype=np.float32)
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:373: RuntimeWarning: invalid value encountered in greater
  window[window > 0.0],
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:328: RuntimeWarning: invalid value encountered in greater
  self.mask = band > self.threshold
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:154: RuntimeWarning: invalid value encountered in greater
  total = np.sum(band[band > 0.0], dtype=np.float32)
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:373: RuntimeWarning: invalid value encountered in greater
  window[window > 0.0],
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:154: RuntimeWarning: invalid value encountered in greater
  total = np.sum(band[band > 0.0], dtype=np.float32)
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:328: RuntimeWarning: invalid value encountered in greater
  self.mask = band > self.threshold
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:373: RuntimeWarning: invalid value encountered in greater
  window[window > 0.0],
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:154: RuntimeWarning: invalid value encountered in greater
  total = np.sum(band[band > 0.0], dtype=np.float32)
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:328: RuntimeWarning: invalid value encountered in greater
  self.mask = band > self.threshold
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:373: RuntimeWarning: invalid value encountered in greater
  window[window > 0.0],
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:154: RuntimeWarning: invalid value encountered in greater
  total = np.sum(band[band > 0.0], dtype=np.float32)
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:328: RuntimeWarning: invalid value encountered in greater
  self.mask = band > self.threshold
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:373: RuntimeWarning: invalid value encountered in greater
  window[window > 0.0],
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:328: RuntimeWarning: invalid value encountered in greater
  self.mask = band > self.threshold
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:154: RuntimeWarning: invalid value encountered in greater
  total = np.sum(band[band > 0.0], dtype=np.float32)
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:373: RuntimeWarning: invalid value encountered in greater
  window[window > 0.0],
/anaconda3/envs/p37/lib/python3.7/site-packages/unrasterize/classes.py:154: RuntimeWarning: invalid value encountered in greater
  total = np.sum(band[band > 0.0], dtype=np.float32)

In [4]:
gdf[['rainfall','latitude','longitude']].to_csv("chirps.csv")

### Flood Model

In [5]:
raster_path = 'flood-model.tif'
raster_data = rasterio.open(raster_path)
unrasterizer = unrasterize.WindowedUnrasterizer(mask_width=1, threshold=0)

In [6]:
unrasterizer.select_representative_pixels(raster_data)
gdf = unrasterizer.to_geopandas(value_attribute_name='flood-index', crs=raster_data.crs)
gdf['latitude'] = gdf.geometry.apply(lambda x: x.bounds[1])
gdf['longitude'] = gdf.geometry.apply(lambda x: x.bounds[0])
gdf.head(5)

   flood-index                  geometry  latitude  longitude
0     1.333333  POINT (34.90505 6.70294)  6.702941  34.905052
1     0.666667  POINT (34.90505 6.74461)  6.744612  34.905052
2     1.333333  POINT (34.90505 6.73628)  6.736277  34.905052
3     1.333333  POINT (34.90505 6.72794)  6.727943  34.905052
4     1.333333  POINT (34.90505 6.71961)  6.719609  34.905052

In [7]:
gdf.shape

(518, 4)

In [8]:
gdf[['flood-index','latitude','longitude']].to_csv("flood-model.csv")

### Travel Time

In [9]:
raster_path = 'travel-time-model.tif'
raster_data = rasterio.open(raster_path)
unrasterizer = unrasterize.WindowedUnrasterizer(mask_width=50, threshold=0)

In [10]:
unrasterizer.select_representative_pixels(raster_data)
gdf = unrasterizer.to_geopandas(value_attribute_name='travel-time', crs=raster_data.crs)
gdf['latitude'] = gdf.geometry.apply(lambda x: x.bounds[1])
gdf['longitude'] = gdf.geometry.apply(lambda x: x.bounds[0])
gdf.head(5)

                   geometry  travel-time  latitude  longitude
0  POINT (33.00486 7.94473)  1658.488647  7.944733  33.004860
1  POINT (33.01319 7.95307)  3241.519531  7.953067  33.013194
2  POINT (33.02153 7.95307)  3590.978516  7.953067  33.021529
3  POINT (33.02986 7.95307)  3826.181641  7.953067  33.029863
4  POINT (33.03820 7.99474)  5105.964355  7.994738  33.038197

In [11]:
gdf.shape

(21715, 4)

In [12]:
gdf[['travel-time','latitude','longitude']].to_csv("travel-time.csv")

### Market Price Model

In [13]:
raster_path = 'market-price-model.tiff'
raster_data = rasterio.open(raster_path)
unrasterizer = unrasterize.WindowedUnrasterizer(mask_width=50, threshold=0)

In [14]:
unrasterizer.select_representative_pixels(raster_data)
gdf = unrasterizer.to_geopandas(value_attribute_name='market-price', crs=raster_data.crs)
gdf['latitude'] = gdf.geometry.apply(lambda x: x.bounds[1])
gdf['longitude'] = gdf.geometry.apply(lambda x: x.bounds[0])
gdf.head(5)

                   geometry  market-price  latitude  longitude
0  POINT (26.29678 6.38370)     12.991247  6.383705  26.296783
1  POINT (26.30512 6.39204)     22.734684  6.392036  26.305118
2  POINT (26.31345 6.40037)     38.973740  6.400367  26.313452
3  POINT (26.32179 6.40870)     48.717171  6.408698  26.321786
4  POINT (26.33012 6.42536)     58.460609  6.425361  26.330120

In [15]:
gdf.shape

(9462, 4)

In [16]:
gdf[['market-price','latitude','longitude']].to_csv("market-price.csv")

### Economic Model

In [17]:
raster_path = 'economic-model.tif'
raster_data = rasterio.open(raster_path)
unrasterizer = unrasterize.WindowedUnrasterizer(mask_width=50, threshold=0)

In [18]:
unrasterizer.select_representative_pixels(raster_data)
gdf = unrasterizer.to_geopandas(value_attribute_name='economic-level', crs=raster_data.crs)
gdf['latitude'] = gdf.geometry.apply(lambda x: x.bounds[1])
gdf['longitude'] = gdf.geometry.apply(lambda x: x.bounds[0])
gdf.head(5)

   economic-level                  geometry  latitude  longitude
0        2.180591  POINT (24.15490 8.39985)  8.399848  24.154901
1       11.668580  POINT (24.16324 8.37485)  8.374854  24.163235
2       30.528280  POINT (24.17157 8.40818)  8.408179  24.171569
3       36.420708  POINT (24.17990 8.35819)  8.358192  24.179903
4       42.962482  POINT (24.18824 8.37485)  8.374854  24.188237

In [19]:
gdf.shape

(12272, 4)

In [20]:
gdf[['economic-level','latitude','longitude']].to_csv("economic-model.csv")

### Economic Model

In [21]:
raster_path = 'economic-model.tif'
raster_data = rasterio.open(raster_path)
unrasterizer = unrasterize.WindowedUnrasterizer(mask_width=50, threshold=0)

In [22]:
unrasterizer.select_representative_pixels(raster_data)
gdf = unrasterizer.to_geopandas(value_attribute_name='economic-level', crs=raster_data.crs)
gdf['latitude'] = gdf.geometry.apply(lambda x: x.bounds[1])
gdf['longitude'] = gdf.geometry.apply(lambda x: x.bounds[0])
gdf.head(5)

   economic-level                  geometry  latitude  longitude
0        2.180591  POINT (24.15490 8.39985)  8.399848  24.154901
1       11.668580  POINT (24.16324 8.37485)  8.374854  24.163235
2       30.528280  POINT (24.17157 8.40818)  8.408179  24.171569
3       36.420708  POINT (24.17990 8.35819)  8.358192  24.179903
4       42.962482  POINT (24.18824 8.37485)  8.374854  24.188237

In [23]:
gdf.shape

(12272, 4)

In [24]:
gdf[['economic-level','latitude','longitude']].to_csv("economic-model.csv")

### LPJmL Crop Yield Anomalies Model

In [25]:
raster_path = 'lpjml-crop-anomalies.tif'
raster_data = rasterio.open(raster_path)
unrasterizer = unrasterize.WindowedUnrasterizer(mask_width=50, threshold=0)

In [26]:
unrasterizer.select_representative_pixels(raster_data)
gdf = unrasterizer.to_geopandas(value_attribute_name='crop-anomalies', crs=raster_data.crs)
gdf['latitude'] = gdf.geometry.apply(lambda x: x.bounds[1])
gdf['longitude'] = gdf.geometry.apply(lambda x: x.bounds[0])
gdf.head(5)

   crop-anomalies                      geometry  latitude  longitude
0      676709.625  POINT (-179.25000 -55.75000)    -55.75    -179.25
1     1326881.500   POINT (-179.25000 38.25000)     38.25    -179.25
2      942085.875   POINT (-179.25000 73.25000)     73.25    -179.25
3     1326881.500  POINT (-179.25000 -29.75000)    -29.75    -179.25
4     1326881.500    POINT (-179.75000 2.75000)      2.75    -179.75

In [27]:
gdf.shape

(1805, 4)

In [28]:
gdf[['crop-anomalies','latitude','longitude']].to_csv("crop-anomalies.csv")